.DS_Store
.commitlintrc.json
.dockerignore
.git/
.github/
.gitignore
.husky/
.huskyrc
.idea/
.releaserc
bin/
obj/
appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json
docker-compose.yml
LICENSE
README.md
